.body{
    width: 100%;
    height: 100%;
}
.bar{
    width: 352px;
    height: 110px;
    border-radius: 10px;
    background-color: #2F2B3B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.55);
    position:absolute;
    /*transform: translate(-50%,-50%);*/
    visibility:hidden;
    .bt-dowload{
        top: 4%;
    }
    .speed{
        position: absolute;
        top: 45%;
        left: 4%;
    }
    .slideSpeed{
        position: absolute;
        left: 2%;
    }
    .pitch{
        top: 45%;
        position: absolute;
        left: 45%;
    }
    .slidePitch{
        position: absolute;
        left: 43%;
    }
    button{
        background-color: #2F2B3B;
        border: 2px solid #9c27b0;
        color: #9c27b0;
        padding: 1px;
        float: right;
        min-width: 40px;
        line-height: 25px;
        top: 20%;
    }
    mat-form-field{
        width: 120px;
        font-size: 12px;
        height: 50px;
        color: #fff;
        padding: 2px;
        background-color: #2F2B3B;
    }
    mat-select{
        background-color: #2F2B3B;
        color: #fff;
    }
    mat-label{
        color: #fff;
        font-size: 13px;
        
    }
    mat-option{
        background-color: #2F2B3B;
        color: #fff;
    }
    mat-slider{
        min-width: 128px;
        position: absolute;
        top: 55%;
        
    }
}
h1{
    font-size: 64px;
    text-align: center;
    padding: 80px;
}
.textBox{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align:justify;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #9c27b0;
    animation: spinner .8s linear infinite;
  }