<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />

<div class="body container" (click)="getSelection()">
  <h1 >Text To Speech</h1>
<div class="row">
<p (mousemove)="positionBar($event)" class="textBox" (mousedown)="hideBar()"  class="col">
  Google Cloud Text-to-Speech enables developers to synthesize natural-sounding speech with 100+ voices, available in multiple languages and variants. It applies DeepMind’s groundbreaking research in WaveNet and Google’s powerful neural networks to deliver the highest fidelity possible. As an easy-to-use API, you can create lifelike interactions with your users, across many applications and devices.
</p>
<p (mousemove)="positionBar($event)" class="textBox" (mousedown)="hideBar()" class="col">
  Wavenet คือเทคโนโลยีด้านการสังเคราะห์เสียงเชิงลึกที่ใช้รูปแบบการจำลองเสียเหมือนการเรียงตัวของเม็ด Pixel บนรูปภาพจนออกมาเป็นคลื่นเสียงที่เป็นธรรมชาติมากยิ่งขึ้น เทคโนโลยีนี้จะใช้การขยายย่านของคลื่นเสียงเป็น 1 Millisecond ซึ่งเมื่อได้ข้อมูลแล้ว Wavenet ได้วิเคราะห์ให้คอมพิวเตอร์ทราบถึงย่านความถี่เสียงในหลายๆระดับ และนำเม็ด Pixel เสียงมาเชื่อมต่อกันเรื่อยๆ ทับซ้อนกันหลายชันจนกลายเป็นเส้นเสียงสังเคราะห์ที่เสมือนคนพูดจริงๆและเป็นธรรมชาติ จากการเปิดตัว Google Assistant ในงาน Google i/o 2018 นี้ทำให้คนทั่วโลกหันมาสนใจเทคโนโลยีด้านนี้เพิ่มขึ้นอย่างมากโดยเฉพาะผู้พิการทางสายตา หรือผู้ป่วยติดเตียงที่ช่วยเหลือตัวเองไม่ได้ Google Assistant จะเข้ามาเติมเต็มกลุ่มผู้ใช้กลุ่มนี้ซึ่งในงาน Google i/o 2018 เราจะเห็นว่ามีหลาย session keynote ที่ชูประเด็นด้านการสนับสนุนผู้พิการ ในการเข้าถึงเทคโนโลยีนี้
</p>
<p (mousemove)="positionBar($event)" class="textBox" (mousedown)="hideBar()" class="col">
  Déployez la technologie révolutionnaire de Google pour générer du discours aux intonations quasiment humaines. Créée grâce à l'expertise en synthèse vocale de DeepMind, l'API fournit des voix très proches des voix humaines.
</p>
</div>
<div class="bar row" id="bar">
  <!--Dropdown language-->
  <div class="col">
    <mat-form-field appearance="fill">
      <mat-label >Language</mat-label>
      <mat-select (selectionChange)="checkVoicesSelect($event)" [(ngModel)]="languageSelected">
        <mat-option *ngFor="let item of language" [value]="item.langId">{{
          item.langName
          }}</mat-option>
      </mat-select>
      <!--เพิ่มภาษาที่ทางgoogleรองรับได้ที่ https://cloud.google.com/speech-to-text/docs/languages-->
    </mat-form-field>
  </div>

  <!--Dropdown Voice Name-->
  <div class="col">
    <mat-form-field appearance="fill">
      <mat-label>Voice Name</mat-label>
      <mat-select [(ngModel)]="voiceName">
        <mat-option value="th-TH-Standard-A" *ngIf="languageSelected === 'th-TH'">th-TH-Standard-A</mat-option>
        <mat-option value="en-US-Wavenet-A" *ngIf="languageSelected === 'en-US'">en-US-Wavenet-A</mat-option>
        <mat-option value="en-US-Wavenet-B" *ngIf="languageSelected === 'en-US'">en-US-Wavenet-B</mat-option>
        <mat-option value="en-US-Wavenet-C" *ngIf="languageSelected === 'en-US'">en-US-Wavenet-C</mat-option>
        <mat-option value="en-US-Wavenet-D" *ngIf="languageSelected === 'en-US'">en-US-Wavenet-D</mat-option>
        <mat-option value="en-US-Wavenet-E" *ngIf="languageSelected === 'en-US'">en-US-Wavenet-E</mat-option>
        <mat-option value="en-US-Wavenet-G" *ngIf="languageSelected === 'en-US'">en-US-Wavenet-G</mat-option>
        <mat-option value="en-US-Wavenet-H" *ngIf="languageSelected === 'en-US'">en-US-Wavenet-H</mat-option>
        <mat-option value="en-US-Wavenet-I" *ngIf="languageSelected === 'en-US'">en-US-Wavenet-I</mat-option>
        <mat-option value="en-US-Wavenet-J" *ngIf="languageSelected === 'en-US'">en-US-Wavenet-J</mat-option>
        <mat-option value="fr-FR-Wavenet-A" *ngIf="languageSelected === 'fr-FR'">fr-FR-Wavenet-A</mat-option>
        <mat-option value="fr-FR-Wavenet-B" *ngIf="languageSelected === 'fr-FR'">fr-FR-Wavenet-B</mat-option>
        <mat-option value="fr-FR-Wavenet-C" *ngIf="languageSelected === 'fr-FR'">fr-FR-Wavenet-C</mat-option>
        <mat-option value="fr-FR-Wavenet-D" *ngIf="languageSelected === 'fr-FR'">fr-FR-Wavenet-D</mat-option>
        <mat-option value="fr-FR-Wavenet-E" *ngIf="languageSelected === 'fr-FR'">fr-FR-Wavenet-E</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--Buttton play-->
  <div class="col">
    <button mat-raised-button (click)="speech()"   [class.spinner]="loading"  matTooltip="Play" matTooltipPosition="right">
      <!--[disabled]="loading"-->
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>

  <!--Slide Speed-->
  <div class="col">
    <mat-label class="speed audioconfig">Speed &nbsp;{{Rate}}</mat-label>
    <div>
      <mat-slider class="slideSpeed" thumbLabel [max]="maxRate" [min]="minRate" [step]="stepRate" [(ngModel)]="Rate"></mat-slider>
    </div>
  </div>

  <!--Slide Pitch-->
  <div class="col">
    <mat-label class="pitch audioconfig">Pitch &nbsp;{{Pitch}}</mat-label>
    <div>
      <mat-slider class="slidePitch" thumbLabel [max]="maxPitch" [min]="minPitch" [step]="stepPitch" [(ngModel)]="Pitch"></mat-slider>
    </div>
  </div>

  <!--Button Dowload-->
  <div class="col">
    <button mat-raised-button (click)="download()" matTooltip="Dowload File MP3" matTooltipPosition="right" class="bt-dowload">
      <mat-icon>system_update_alt</mat-icon>
    </button>
  </div>
</div>
</div>